
body {
  background-color: #B392AC;
}

.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #B392AC;
}

.mainSection{
  /* display: flex;
  flex-direction: column; */
  background-color: #f8f9fd;
  padding-top: 20px;
  width: 350px;
  height: auto;
  border-radius: 20px;
}

.btnTask {
  height: 50px;
  width: 250px;
  margin-bottom: 20px;
  margin-left: 50px;
  border-radius: 15px;
  transition-duration: 0.4s;
}

#uno:hover{
  background-color: white;
  border-color: #ffb4a2;
}

#uno {
  background-color: #ffb4a2;
}

#dos {
  background-color: #ffe8d6;
}

#dos:hover{
  background-color: white;
  border-color: #ffe8d6;
}

#tres{
  background-color: #ffc6ff;
}

#tres:hover{
  background-color: white;
  border-color: #ffc6ff;
}

#four {
  background-color: #dda15e;
}

#four:hover{
  background-color: white;
  border-color: #dda15e;
}

label {
  display: block;
  margin-bottom: 20px;
  margin-left: 10px;
}

input {
  float: right;
  margin-right: 20px;
}

#infoContainer {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.radio {
  margin-top: 35px;
  margin-bottom: 20px;
}

.advise{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 17px;
}

.updateSection{
  background-color: #f8f9fd;
  width: 350px;
  height: 450px;
  border-radius: 20px;
}

.restInfo{
  text-align: center;
  font-size: 20px;
}

.mainMenu{
  margin-top: 30px;
}
